/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.inactive{
    display: none;
}

/* Toggle menú */
.header-toggleIcon{
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.header-toggleIcon span{
    display: block;
    height: 4px;
    width: 100%;
    background-color: red;
    margin-top: 8px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}
.toggleIcon-line1Active{
    transform: rotate(45deg) translate(-2px, 2px);
}
.toggleIcon-line2Active{
    opacity: 0;
    margin-left: -37px;
}
.toggleIcon-line3Active{
    transform: rotate(-45deg) translate(-4px, 2px);
}