/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* Variables */
:root{
    --orange: #ed9909;
    --dark-blue: #080F28;
    --ligth-blue: #007AFF;
    
    --title-color: #FFFFFF;
    --subtitle-color: #8DA0BC;
    --input-color: #fbc361;

    --font-family-titles: 'Righteous', cursive;
    --font-family-text: 'Marcellus', serif;
    --fw-bold: 800;
    --fw-medium:600;
    --fw-ligth:400;
    --fs-lg:2rem;
    --fs-md:1.5rem;
    --fs-sm:1rem;
    
    --border-r-btn: 10px;
    --border-r-img: 20px;
}

/* General */
body{
    background-color: var(--dark-blue);
    color: var(--title-color);
    font-family: var(--font-family-text);
    font-size: var(--fs-md);
    font-weight: var(--fw-ligth);
    padding: 0;
    width: 100%;
}
img{
    border-radius: var(--border-r-img);
    cursor: pointer;
}
.inactive{
    display: none;
}

/* Texts */
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

h1,h2,h3{
    margin: 0;
    padding: 0;
    font-family: var(--font-family-titles);
    color: var(--title-color);
    letter-spacing: 4px;
    cursor: default;
}

h1,h2{
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
}

h3{
    font-size: var(--fs-md);
    font-weight: var(--fw-ligth);
}

p{
    font-size: var(--fs-sm);
    font-weight: var(--fw-ligth);
    color: var(--subtitle-color);
}

button{
    background-color: var(--orange);
    border-radius: var(--border-r-btn);
    border: none;
    padding: 4px;
    font-family: var(--font-family-titles);
    font-size: var(--fs-md);
    font-weight: var(--fw-ligth);
    letter-spacing: 1px;
    cursor: pointer;
}

input{
    background-color: var(--input-color);
    font-family: var(--font-family-text);
    font-size: var(--fs-sm);
    letter-spacing: 2px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 16px;
    cursor: text;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.503);
    font-weight: var(--fw-bold);
    letter-spacing: 5px;
}


/* Header */
.header-container{
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.header-searchForm{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}
.header-searchForm input {
    height: 4rem;
    width: 50%;
}
.header-searchForm button {
    height: 4rem;
    width:3rem;
    border-radius:0px 10px 10px 0px;
}

/* Toggle menú */
.header-toggleIcon{
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.header-toggleIcon span{
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--orange);
    margin-top: 8px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}
.toggleIcon-line1Active{
    transform: rotate(45deg) translate(-2px, 2px);
}
.toggleIcon-line2Active{
    opacity: 0;
    margin-left: -37px;
}
.toggleIcon-line3Active{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* Trending section */
.trendingPreview-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.trendingPreview-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Trending carrousel */
